src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.springboot.com/soapws/loaneligibility" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springboot.com/soapws/loaneligibility" targetNamespace="http://www.springboot.com/soapws/loaneligibility">
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.springboot.com/soapws/loaneligibility">
<!--     tns means short name for targetNamespace  -->
<xsd:element name="CustomerRequest">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="customerName" type="xsd:string"/>
			<xsd:element name="age" type="xsd:int"/>
			<xsd:element name="yearlyIncome" type="xsd:long"/>
			<xsd:element name="requestAmount" type="xsd:long"/>
			<xsd:element name="cibilScore" type="xsd:int"/>
			<xsd:element name="employeeMode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
<xsd:element name="Acknowledgement">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="isEligible" type="xsd:boolean"/>
			<xsd:element name="approvedAmount" type="xsd:long"/>
			<xsd:element maxOccurs="unbounded" name="CriteriaMismatch" type="xsd:string"/>
				<!--  maxOccurs="unbounded" means list of string  -->
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>
</schema>
</wsdl:types>
<wsdl:message name="CustomerRequest">
<wsdl:part element="tns:CustomerRequest" name="CustomerRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="LoanEligibilityEndpoint">
<wsdl:operation name="Customer">
<wsdl:input message="tns:CustomerRequest" name="CustomerRequest"> </wsdl:input>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="LoanEligibilityEndpointSoap11" type="tns:LoanEligibilityEndpoint">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Customer">
<soap:operation soapAction=""/>
<wsdl:input name="CustomerRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="LoanEligibilityEndpointService">
<wsdl:port binding="tns:LoanEligibilityEndpointSoap11" name="LoanEligibilityEndpointSoap11">
<soap:address location="http://localhost:8080/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>